/*header style*/
.logo {
	display: inline-block;
	margin: 30px;
	vertical-align: middle;

}
.imagelogo{
	display: inline-block;
	width: 100px;
	height: 31px;
	margin-right: 30px;
	vertical-align: middle;	

}


.navigation {
	display: inline-block;
	vertical-align: middle;
	font-family: "ALKDots", sans-serif;
}

.nav-li{
	display: inline-block;
	margin-right: 22px;

	
}

.nav-a{
	color: #3D58A6;
	font-size: 22px;


}

.active{
	color: #EE4036
}

.container {
	width: 1170px;
	margin: 20px auto;
	font-family: 'Redressed';

}


.left-block{
	width: 570px;
	background-color: #F2F2F2;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	padding: 13px 15px 41px 20px;
}
.right-block{
	width: 570px;
	background-color: #F2F2F2;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	padding:13px 15px 41px 20px;

}
.title{
	font-size: 24px;
	width: 381px;
	height: 29px;
	text-decoration-color: #000000;
}
.article-image1{
	width: 101px;
	height: 117px;
	color:#3D58A6;
	vertical-align: middle;
	margin-right: 60px;
	
}
.article-image2{
	width: 85px;
	height: 128px;
	color:#3D58A6;
	vertical-align: middle;
	margin-right: 60px;
	
}
.title1{
	width: 355px;
	color: #333333;
	display: inline-block;
	vertical-align: middle;

}
.title2{
	width: 355px;
	color: #333333;
	display: inline-block;
	vertical-align: middle;

}

/*footer*/
.divider{
	width: 1px;
	height: 27px;
	background-color: #363E97;
	margin: 0 36px 0 30px;
	display: inline-block;
}

/*home style*/
.container1{
	width: 1366px;
	
}


.date{
   
    width: 56px; 
	height: 56px;
	background-color: #3D58A6;
	margin: 0 30px;
	color:#FFFFFF;
	font-size: 48px;

}
.month{
	width: 56px;
	height: 25px;
	margin:  0 30px;
	color:#3D58A6;
	font-size: 22px;
}
.top{
	width: 688px;
	height: 23px;
	font-size: 20px;
	margin: 30px;
	color: #000000;
	font-family: "Arial GEO Bold", sans-serif;
	

}
.image1{
	width: 270px; 
	height: 210px;
	margin:0 20px 0 30px;
	display: inline-block;
	vertical-align: top;
		
	
}
.lorem{
	width: 929px;
	font-size: 16px;
	color: #000000;
	display: inline-block;
	vertical-align: top;
	margin-left:20px;
	font-family: "Arial GEO Italic", sans-serif;

}
/*contact style*/
.content{
	background-color: #E6E6E6;
}
.container2{
 	width: 1366px;
 	height: 570px;
 	padding: 50px 90px 55px 90px;
 	margin: 32px 0;

 }
.left-box{
	display: inline-block;
	vertical-align: top;
	margin-right: 54px;
	
	
}

.right-box{
	display: inline-block;
	vertical-align: top;
	
}

p{
	margin-bottom: 10px;
}



footer{
	margin:32px;
}

span{

	color: #999999;
	font-size: 16px;
	font-family: "ALK Tommaso", sans-serif;

}

li{
	margin: 10px 0;

}

.info{
	color:#3D58A6;
	font-size: 20px;
}
.qucha{
	font-family: "MG BitNeon", sans-serif;
	font-size: 15px;
}
.nomeri{
	font-family: "MG BitNeon", sans-serif;
	font-size: 15px;
}
.fosta{
	font-family: "MG BitNeon", sans-serif;
	font-size: 15px;
}


